{% load static %}

<link rel="stylesheet" href="{% static 'fileupload/style.css' %}">

<html>

    <head>
        <meta charset="UTF-8">
        <title>Upload Videos</title>
    </head>

    <body>

        <h1>Sentiment<span>Sub</span></h1>

        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name='upload' value="Upload"/>
        </form>

        {% if uploaded_file_url %}
        <video width="400" height="350" controls>
            <source src="{{ uploaded_file_url }}" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        {% endif %}

    </body>

</html>