<html>

    <head>
        <meta charset="UTF-8">
        <title>Upload Videos</title>
    </head>

    <body>

        <h1>Video Uploader</h1>

        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name='upload' value="Upload"/>
        </form>

        <video width="320" height="240" controls>
            <source src="{{ videofile.url }}" type="video/mp4">
        Your browser does not support the video tag.
        </video>

    </body>

</html>
